:root {
  --bg-dark: #0f1724;
  --bg-mid: #090089;
  --bg-light: #00358c;

  --border: #0a0a0a;
  --text-light: #ffffff;

  --radius: 12px;
  --shadow: 0 4px 12px rgba(0, 0, 0, 0.35);
}

body {
  margin: 0;
  background-color: var(--bg-dark);
  font-family: Arial, Helvetica, sans-serif;
  color: var(--text-light);
}

.title {
  font-size: 42px;
  margin: 25px;
  font-weight: 700;
  text-align: center;
  border:none;
}

.field {
  margin: 30px;
  background-color: var(--bg-mid);
  padding: 20px 25px;
  border-radius: var(--radius);
  border: 3px solid var(--border);
  margin-bottom: 25px;
  box-shadow: var(--shadow);
  border:none;
}

.header {
  margin-top: 0;
  border:none;
}

select {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  font-size: 15px;
  border-radius: var(--radius);
  background-color: var(--bg-light);
  color: var(--text-light);
  border: 2px solid black;
  border: none;
  cursor: pointer;
}

select:hover {
  background-color: #006c98;
}

canvas {
  width: 70vw;
  height: 70vh;
  max-width: 900px;
  max-height: 700px;
  border-radius: var(--radius);
  box-shadow: var(--shadow);
  background: #000;
  border:none;
}

.banner {
  width:100vw;
  display:flex;
  text-align: center;
  top:0;
  left:0;
  box-shadow: var(--shadow);
  background-color: #090d14;
}

.render-canvas {
  text-align: center;
  margin-top: 30px;
  border:none;
}

#slice-manager {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

button, #slice-manager button, #downloadSurface {
  margin: 10px;
  margin-left: 30px;
  padding: 10px;
  font-size: 16px;
  font-weight: 600;
  border-radius: var(--radius);
  background-color: var(--bg-light);
  color: var(--text-light);
  cursor: pointer;
  transition: 0.15s ease;
  box-shadow: var(--shadow);
  border:none;
}

button:hover {
  background-color: #0078a8;
}

button:active {
  border:none;
}

#information {
  min-height: 40px;
  padding: 20px;
  text-align: center;
  font-size: 18px;
  border:none;
}

@media (max-width: 768px) {
  canvas {
    width: 90vw;
    height: 60vh;
    border:none;
  }

  .title {
    font-size: 32px;
    border:none;
  }

  .field {
    outline:none;
    margin: 15px;
    padding: 15px;
    border:none;
  }

  button {
    font-size: 14px;
    margin: 30px;
    padding: 8px 15px;
    border:none;
  }
}